$color: blue;
$fle :flex;

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: $color;
}

.hi{
    font-size: 1.2rem;
    height: 80px;
    display: $fle;
    justify-content: space-around;
    align-items: center;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: $color;
}
