* {
  text-align: center;
}

div {
  height: 100px;
  width: 50px;
  display: inline-block;
  border: 2px solid black;
}

#container {
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* align-content: flex-start; */
}

#box1 {
  background-color: blue;
  flex-grow: 1;
}

#box2 {
  background-color: red;
  height: 200px;
  /* align-self: flex-end; */
  /* flex-shrink: 1; */
  flex-grow: 2;
}

#box3 {
  background-color: aquamarine;
  height: 75px;
}

#box4 {
  background-color: black;
}

#box5 {
  background-color: beige;
}

