#relative {
    height: 100px;
    width: 200px;
    background-color: blue;
    font-size: 10px;
}

#em {
    background-color: red;
    margin-left: 10%;
    font-size: 2em;
    width: 5em;
    height: 10rem;
    width: 50vh;
    height: 50vw;
}
