div {
    height: 100px;
    width: 100px;
    background-color: orange;
    border: 2px dotted black;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    animation-name: colorAnimation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation:colorAnimation 0.5s linear 2s infinite alternate;
}

div:active {
    background-color: red;
}

@keyframes colorAnimation {
    0% { 
        background-color: orange;
        left: 10px;
    }
    50% {
        background-color: aqua;
    }
    100% { 
        background-color: green;
        left: 300px;
    } 
}