div {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 5px dotted red;
    cursor: help;
    position: absolute;
    top: 300px;
    left: 300px;
    border-radius: 50%;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s;
    transition: all 2s ease-in 0.5s;
    transition: all 2s ease-in;
    transform: rotate(90deg);
    rotate: x 180deg;
    rotate: z 90deg;
    transform: scale(3,2);
}

div:hover {
    background-color: blue;
    color: greenyellow;
    font-size: 30px;
    transform: scale(3,2);
    rotate: z 36000deg;
    transform: skew(0deg);
    transform: translate(100px,100px);
}

div:active {
    background-color: yellow;
}

