* {
  background-color: pink;
}

h1 {
  color: rgb(70, 122, 56);
}

.one {
  color: aquamarine;
}
#two {
  color: bisque;
}
#three {
  color: blue;
}

#four {
  color: brown;
}

#box {
  background-color: blue;
  color: black;
}

.heading {
  color: red;
}

button {
  background-color: green;
}
#hello {
  background-color: pink;
}

h2 {
  color: rgb(70, 122, 56);
}

#one {
  color: aquamarine;
}
.two {
  color: bisque;
}
#wow {
  color: blue;
}

#good {
  color: brown;
}

#id {
  background-color: blue;
  color: black;
}

.head {
  color: red;
}

btn {
  background-color: green;
}
