$color : black;
$col: white;

%something {
    font-size: 20px;
    color: mediumpurple;
    border: 20px blue solid;
    background-color: black;
}

*{
    background-color: $color;
    color: $col;
}
div {
    height: 50vh;
    width: 30vw;
    background-image: url(ronaldo_jodi.jpeg);
    background-size: cover;
    p {
        background-color: red;
        font-size: 20px;
    }
}



#nature {
    color: white;
    @extend %something;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    border-radius: 20px;
}

p {
    @extend %something;
    background-color: white;
    position: relative;
    height: 50vw;
    width: 50vh;
}

